body {
    background: -moz-linear-gradient(top, #fff 0%, #a5abff 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #a5abff 100%);
    background: linear-gradient(to bottom, #fff 0%, #a5abff 100%);
    transition: all 0.5s ease-out;
}

body.entering {
    background-size: 100% 100%;
}

body.exiting {
    background-size: 400% 400%;
}
* {
    color: #000;
    -webkit-font-smoothing: antialiased;
}
tt,
code {
    background-color: hsla(0, 0%, 0%, 0.04);
    border-radius: 3px;
    font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
        'Liberation Mono', Menlo, Courier, monospace;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
pre code {
    background: none;
    line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
    letter-spacing: -0.2em;
    content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
    content: '';
}

iframe {
    border: 0px !important;
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}
img,
video {
    width: 100%;

    /* border-image: linear-gradient(to bottom right, #fff 0%, #bfacfc 100%);
    border-image-slice: 1; */
    margin: 10px 0px;
}

@media (max-width: 900px) {
    img,
    video {
        border: 0px;
        margin: 30px 0px;
    }
}

p {
    line-height: 2em;
}

.language-javascript {
    border: 1px solid #a5abff;
}
code[class*='language-'],
pre[class*='language-'] {
    color: #fff !important;
    background: rgba(20, 20, 20, 0.8) !important;
}
.interpolation {
    color: #fff;
}
pre code {
    overflow-x: scroll;
    color: #fff !important;
}

.comment {
    color: #909090 !important;
}
